language: vala

before_install:
    - export LD_LIBRARY_PATH="${LD_LIBRARY_PATH}:/usr/local/lib"
    - pushd .
    - sudo apt-get install cmake
    - sudo apt-get install cmake-curses-gui
    - sudo apt-get install cmake-data
    - sudo apt-get install libjson-glib-1.0-0
    - sudo apt-get install libjson-glib-dev
    - sudo apt-get install bison
    - sudo apt-get install bison++
    - sudo apt-get install libbison-dev
    - sudo apt-get install btyacc
    - sudo apt-get install byacc
    - sudo apt-get install flex
    #- sudo apt-get install lua5.2
    #- sudo apt-get install liblua5.2-dev
    - wget http://www.lua.org/ftp/lua-5.3.1.tar.gz -O /tmp/lua-5.3.1.tar.gz
    - cd && tar xvf /tmp/lua-5.3.1.tar.gz
    - cd lua-5.3.1 && make posix MYCFLAGS=-fPIC && sudo make install
    - wget https://download.gnome.org/sources/glib/2.42/glib-2.42.2.tar.xz -O /tmp/glib-2.42.2.tar.xz
    - cd && tar xvf /tmp/glib-2.42.2.tar.xz
    - cd glib-2.42.2 && ./configure && sudo make && sudo make install
    - wget https://download.gnome.org/sources/vala/0.30/vala-0.30.0.tar.xz -O /tmp/vala-0.30.0.tar.xz
    - cd && tar xvf /tmp/vala-0.30.0.tar.xz
    - cd vala-0.30.0 && ./configure && sudo make && sudo make install
    - wget https://download.gnome.org/sources/libgee/0.18/libgee-0.18.0.tar.xz -O /tmp/libgee-0.18.0.tar.xz
    - cd && tar xvf /tmp/libgee-0.18.0.tar.xz
    - cd libgee-0.18.0 && ./configure && sudo make && sudo make install
    - popd

before_script:
    - mkdir build
    - cd build
    - cmake ..
    - make

script: make test
