language: vala

before_install:
    - sudo apt-get install cmake
    - sudo apt-get install cmake-curses-gui
    - sudo apt-get install cmake-data
    - sudo apt-get install libjson-glib-1.0-0
    - sudo apt-get install libjson-glib-dev
    - sudo apt-get install bison
    - sudo apt-get install bison++
    - sudo apt-get install libbison-dev
    - sudo apt-get install btyacc
    - sudo apt-get install byacc
    - sudo apt-get install flex
    - wget https://download.gnome.org/sources/glib/2.42/glib-2.42.2.tar.xz -O /tmp/glib-2.42.2.tar.xz
    - cd && tar xvf /tmp/glib-2.42.2.tar.xz
    - cd glib-2.42.2.tar.xz && ./configure && sudo make && sudo make install
    - wget https://download.gnome.org/sources/vala/0.30/vala-0.30.0.tar.xz -O /tmp/vala-0.30.0.tar.xz
    - cd && tar xvf /tmp/vala-0.30.0.tar.xz
    - cd vala-0.30.0 && ./configure && sudo make && sudo make install
    - wget https://download.gnome.org/sources/libgee/0.18/libgee-0.18.0.tar.xz
    - cd && tar xvf /tmp/libgee-0.18.0.tar.xz
    - cd libgee-0.18.0 && ./configure && sudo make && sudo make install

before_script:
    - mkdir build
    - cd build
    - cmake ..
    - make

script: make test
